@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: rgb(72, 89, 168);
    font-size: 35px;
    margin-bottom: 0.5em;
}

.form-container {
    max-width: 1200px;
    width: 80%;
    margin: auto ;
    margin-top: 8em;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    font-size: 13.25px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group > div {
    flex: 1;
    width: 48%;
    margin-bottom: 15px;
    padding: 0 10px; 
}



.form-group label {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 15px 10px;
    border:  none ;
    border-radius: 10px;
    background-color: #e7e9f2;
}
.form-group select{
    appearance: none;
    outline: none;
}
.form-group input:focus {
    color: blue;
    outline: none;
}

.form-group input:not(:focus) {
    color: blue;
}


.submit-btn {
    padding: 15px 20px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

.submit-btn:hover {
    background-color: #2e4272;
}

.form-radio {
    color: rgb(72, 89, 168);
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap; 
    gap: 20px;
}

.form-radio div {
    margin-bottom: 10px;
}

.form-radio label {
    font-size: 20px;
}

@media (max-width: 900px) {
    .form-container{
        width: 95%;
    }
    .form-group > div {
        min-width: 100%;
        padding: 0;
    }
    .submit-btn{
        width: 100%;
    }

    .submit-btn {
        font-size: 18px;
    }
    
}