
.clubs-section {
  margin-top: 10em;

}
body{
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1;
}
.container-events{
  margin: auto;
  width: 80%;
  max-width: 1200px;
 
}

.filter, .contents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto auto;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
  }
.filter::after, .contents::after{
  width: 350px;
  content: "";
}
.single::after{
  display: none;
}
.container-events{
  margin: 20px auto;
}
.box-container{
  width: 100%;
  max-width: 350px;
  margin-bottom: 30px;
  align-self: center;
  }
.box-container{
  height: 350px;
  border-radius: 30px;
  background-color: #e7e9f2;
  padding: 30px 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  transition: 0.2s transform ease;
}
.box-container{
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.box-container:hover{
  background-color: rgb(201, 203, 225);
  border: 2px solid #007bff;
  transform: translateY(-10px)
}
.box-logo{
  object-fit: contain;
  height: 100px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 5px;
}
.boxtitle{
  font-size: 1.4rem;
  text-align: center;
  color: rgb(72,89,168);
  padding-bottom: 20px;
}
.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 15px;
  padding-bottom: 15px;
  color: rgb(92, 92, 92);
}
.indice{
  align-self: center;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
  width: 20px;
}
.event-register{
  position: absolute;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px 20px;
  background-color: #fff;
  color: rgb(72,89,168);
  border: 2px solid rgb(72,89,168);
  font-weight: bold;
  border-radius: 25px;
  width: 130px;
  text-align: center;
  vertical-align: middle;
  bottom: -25px;
  transition: 0.1s all linear;
}
.event-register:hover{
  transform: scale(1.1);
}
.interest img{
  filter: invert(31%) sepia(46%) saturate(895%) hue-rotate(193deg) brightness(98%) contrast(85%);
}
.clicked {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}



@media (max-width: 768px) {
  .container-events{
    width: 100%;
  }
  .box-container{
    width: 85%;
    max-width: 100%;
    margin-bottom: 30px;
    margin: 0 30px 30px;
    height: 350px;
  }
  .box-logo{
    max-width: unset;
  }
  .details{
    width: 90%;
  }
  .event-register{
    width: 150px;
  }
}