
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
}
.frm2{
    width: 95%;
}
.form button{
    margin: 5px auto 15px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    color: rgb(72,89,168);
    transition: 0.2s linear;
    font-size: 1.1rem;
    background-color: #fff;
    border: 2px solid rgb(72,89,168);
    font-weight: bold;
}
.form button:hover{
    color: #fff;
    background-color: rgb(72,89,168);
    transform: scaleY(1.1);
}

.links{
    margin: 10px auto 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    color: rgb(72,89,168);
}
.otpcode{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}
.otp{
    margin: 10px auto;
    display: none;
}
.otpcode input{
    flex: 1;
    height: 3rem;
    width: 2rem;
    background-color: rgb(217, 217, 217);
    text-align: center;
    font-size: 1.7rem;
    border-radius: 5px;
}

.box{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

input, select{
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s ease all;
}
select{
    appearance: none;
}
input[type="date"]{
    appearance: none;
}

input:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label {
  top: -10px;
  font-size: 12px;
  background-color: whitesmoke;
  color: rgb(72,89,168); /* Change label color when floating */
}
input:focus {
    border-color: rgb(72,89,168);
}
  /* Style the dropdown arrow (for WebKit browsers) */
.floating-select::-webkit-inner-spin-button,
.floating-select::-webkit-calendar-picker-indicator {
  appearance: none;
}
.floating-label{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white; /* Ensure label background doesn't overlap with input */
    padding: 0 5px;
    color: #999;
    font-size: 16px;
    pointer-events: none; /* Prevent the label from being clicked */
    transition: 0.3s ease all; /* Smooth transition for the floating effect */
}
  /* Move the label up when the select has focus or a value is selected */
.floating-select:focus + .floating-label,
.floating-select:valid + .floating-label {
    top: -10px;
    font-size: 12px;
    color: rgb(72,89,168);
    background-color: #f3f4f8;
}
  
  /* Focus effect for select */
.floating-select:focus {
    border-color: rgb(72,89,168);
}
.button{
    display: block;
    padding: 0.8rem 1.4rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    background-color: rgb(72, 89, 168);
    text-decoration: none;
    transition: 0.2s all ease;
}
.button:hover{
    transform: scale(1.1);
}
